body {
    background-color: #7494EC;
  }
.file-upload-container {
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}
.file-drop-area {
    border: 1px groove black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
.file-list {
    list-style-type: none;
    padding-left: 0;
}
.file-list-item {
    color: #333333;
    transition: background-color 0.3s;
}
.file-list-item:hover {
    background-color: #dcdcdc
    ; /* Background color on hover */
  }

.search-bar {
    border: 1px #a8b3e3;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
}
.search-bar:hover {
    background-color: #dcdcdc; /* Darker gray on hover */
}

.site-box {
    border: 1px dashed #a8b3e3;
    border-radius: 20px;
}