{% load widget_tweaks %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Retriever</title>
    <!-- Bootstrap CSS -->
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'searchPage/search.css' %}"
    />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="search-container mx-auto my-5 p-4">
            <div class="header text-center">
              <h2>Information Retriever System</h2>
              <p>Searching in {{ results.total_documents}} files.</p>
            </div>
            <div class="search-box p-4">
              <form method="post">
                {% render_field form.query class="form-control search-bar" placeholder="Enter your query here :" type="text" %}

                <div class="d-grid col-6 mx-auto mt-3">
                  <button type="submit" class="btn btn-success btn-block py-2">
                    Search
                  </button>
                </div>
              </form>
            </div>
            {% if results %}
            <div class="mt-4">
              <h5>Found {{ results.total_documents_found }} Documents</h5>
              <span class="badge bg-success"
                >{{ results.time_taken}} milliseconds</span
              >
              <span class="badge bg-info">{{ results.pdf_found }} pdf found</span>
              <span class="badge bg-info">{{ results.image_found }} img found</span>
              <span class="badge bg-info">{{ results.text_found }} text found</span>
              <span class="badge bg-info">{{ results.html_found }} html found</span>
              <span class="badge bg-info">{{ results.url_found }} link found</span>

              {% endif %}
              <ul class="file-list mt-3" id="fileList">
                {% for document in results.data %}
                <li class="file-list-item listItemBorder my-2">
                  <div class="d-flex justify-content-between pe-4 ps-2 py-2">
                    <div class="d-flex">
                      <div
                        class="d-flex align-items-center justify-content-center pe-3 mt-2"
                      >
                        <p class="text-large">{{ forloop.counter }}.</p>
                      </div>
                      {% if document.extension == "pdf" %}
                      <img src="{% static 'icons/pdf.png' %}" alt="My image" />
                      {% elif document.extension in "['png','jpg','jpeg']" %}
                      <img src="{% static 'icons/image.png' %}" alt="My image" />
                      {% elif document.extension == "txt"%}
                      <img src="{% static 'icons/text.png' %}" alt="My image" />
                      {% elif document.extension == "html"%}
                      <img src="{% static 'icons/html.png' %}" alt="My image" />
                      {% else %}
                      <img src="{% static 'icons/link.png' %}" class="mt-1"  alt="My image" />
                      {% endif %}

                      <div class="pt-1 ps-2">
                        <span class="text-large">{{ document.title }}</span
                        ><br /><span class="badge bg-secondary"
                          >{{ document.occurrences}} occurrences</span
                        >
                      </div>
                    </div>
                    <div class="col-1 mt-2">
                      <button
                        type="button"
                        class="btn btn-secondary view_button"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        data-modal-data="{{ document.highlighted_content }}"
                        data-modal-title="{{ document.title }}"
                      >
                        View
                      </button>
                    </div>
                  </div>
                  {% endfor %}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      function openModalWithData(data) {
        // Get modal body element
        var modalBody = document.querySelector("#exampleModal .modal-body");
        var modalTitle = document.querySelector("#exampleModal .modal-title");

        // Set modal title
        modalTitle.innerHTML = "<h5>" + data.modalTitle + "</h5>";
        // Clear existing content
        modalBody.innerHTML = "";

        // Populate modal body with data
        modalBody.innerHTML = "<p>" + data.modalData + "</p>";

        // Open the modal
        {% comment %} var myModal = new bootstrap.Modal(
          document.getElementById("exampleModal")
        );
        myModal.show(); {% endcomment %}
      }

      // Button click event handler
      document.querySelectorAll(".view_button").forEach(function (btn) {
        btn.addEventListener("click", function () {
          // Get data attribute value
          var modalData = this.getAttribute("data-modal-data");
          var modalTitle = this.getAttribute("data-modal-title");
          dataToSend = {
            modalData: modalData,
            modalTitle: modalTitle,
          };

          // Open the modal with data
          openModalWithData(dataToSend);
        });
      });
    </script>
  </body>
</html>
